/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap'); */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import url(//db.onlinewebfonts.com/c/2097b9a73513adc265533f0d0e8d3b5b?family=Dutch801+RmHd+BT);

* {
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Plus Jakarta Display", sans-serif;
}
.App {
    text-align: center;

}
